<div class="ws fl">
  <div class="navigator fl-g0 fl fl-column" zn-template="ws/navigator.html"></div>
  <div class="tabs fl-g1 fl fl-column" zn-template="ws/tabs.html"></div>
</div>

<a href="#download" class="download">Download</a>
<input type="file" class="upload"/>

<div zn-dialog name="edit-set-dialog" dialogtitle="Set" actions="view.dialogActions.OKCANCEL" onaction="view.onEditSetDialogAction($event)" class="name-descr-dialog">
  <div class="edit-form fl fl-column">
    <form autocomplete="off">
      <div zn-textfield class="fl-g0" name="set-name" label="Name" value="view.editset.name" error="view.editset.error.name"></div>
      <div zn-textarea class="fl-g1" name="set-descr" label="Description" value="view.editset.descr"></div>
    </form>
  </div>
</div>

<div zn-dialog name="edit-ws-dialog" dialogtitle="Edit Workspace" actions="view.dialogActions.OKCANCEL" onaction="view.onEditWSDialogAction($event)" class="name-descr-dialog">
  <div class="edit-form fl fl-column">
    <form autocomplete="off">
      <div zn-textfield class="fl-g0" name="ws-name" label="Name" value="view.editws.name" error="view.editws.error.name"></div>
      <div zn-textarea class="fl-g1" name="ws-descr" label="Description" value="view.editws.descr"></div>
    </form>
  </div>
</div>

<div zn-dialog name="edit-inspection-dialog" dialogtitle="Inspection" actions="view.dialogActions.OKCANCEL" onaction="view.onEditInspectionDialogAction($event)" class="name-descr-dialog">
  <div class="edit-form fl fl-column">
    <form autocomplete="off">
      <div zn-textfield class="fl-g0" name="inspection-name" label="Name" value="view.editinspection.name" error="view.editinspection.error.name"></div>
      <div zn-textarea class="fl-g1" name="inspection-descr" label="Description" value="view.editinspection.descr"></div>
      <div zn-dropdownfield class="fl-g0" name="set" label="Set" value="view.editinspection.setOid" items="view.sets" ng-if="view.sets.length>0 && view.editinspection.type!='new'" error="view.editinspection.error.setOid"></div>
    </form>
  </div>
</div>

<div zn-dialog name="config-dialog" dialogtitle="Configuration" actions="view.dialogActions.OKCANCEL" onaction="view.onConfigDialogAction($event)" class="config-dialog">
  <div class="edit-form fl fl-column">
    <form autocomplete="off">
      <div zn-textfield class="fl-g0" name="proxy-location" label="APIi Proxy Location" value="view.editconfig.proxy"></div>
    </form>
  </div>
</div>

<div zn-dialog name="ws-list-dialog" dialogtitle="Select Workspace" actions="view.dialogActions.CANCEL" class="ws-list-dialog">
  <div zn-list class="ws-list" name="ws-list" items="view.wslist" multiselect="false" trackscroll="false" onselect="view.onSelectWS($event)"></div>
</div>


<div zn-dialog name="wsdl-load-dialog" dialogtitle="WSDL" actions="view.dialogActions['WSDL-LOAD']" onaction="view.onWSDLLoadDialogAction($event)" class="wsdl-load-dialog">
  <div class="wsdl-form fl fl-column">
    <form autocomplete="off">
      <div class="fl">
        <div zn-textfield class="fl-g1" name="wsdl-url" label="URL" value="view.loadwsdl.url"></div>
        <div class="load-wsdl-btn-wrapper fl-g0">
          <div zn-button class="load-wsdl-url-action" text="Load WSDL" action="'load-wsdl'" onaction="view.loadWSDL($event)"></div>
        </div>
      </div>
    </form>
    <div zn-dropdownfield class="fl-g0" name="port-types" label="Port Types" value="view.wsdlData.selectedPortType" items="view.wsdlData.portTypes" ng-if="view.wsdlData.portTypes.length>0" onchange="view.onWSDLPortTypeChange($event)"></div>
    <div class="operations fl-g0" ng-if="view.wsdlData.portTypes.length>0">
      <div class="fl">
        <div class="label fl-g1">Operations</div>
        <div class="select-all-operations check-box fl-g0" data-state="on">
          <i class="state-off far fa-square"></i><i class="state-on fas fa-check-square"></i>
        </div>
      </div>
      <div class="operations-list lean-scroll">
        <div class="operation fl fl-ac" ng-repeat="operation in view.wsdlData.portTypeOperations[view.wsdlData.selectedPortType]">
          <div class="oper-name fl-g1">{{operation["@name"]}}</div>
          <div class="check-box" data-state="on" data-oper-name="{{operation['@name']}}">
            <i class="state-off far fa-square"></i><i class="state-on fas fa-check-square"></i>
          </div>
        </div>
      </div>
    </div>
    <div zn-textfield class="fl-g0" name="set-name" label="Set Name" value="view.loadwsdl.setName" error="view.editws.error.name" ng-if="view.wsdlData.portTypes.length>0"></div>
    <div zn-textarea class="fl-g1" name="set-descr" label="Description" value="view.loadwsdl.setDescr" ng-if="view.wsdlData.portTypes.length>0"></div>
    <div class="status-message" ng-if="view.loadwsdl.msg!=''">{{view.loadwsdl.msg}}</div>
  </div>
</div>

<div zn-popup name="tab-menu" class="popup-menu-items tab-menu">
  <a class="popup-menu-item" ng-click="view.onTabMenuAction('edit')"><i class="fas fa-pencil-alt"></i><span class="popup-menu-item-text">Edit</span></a>
  <a class="popup-menu-item" ng-click="view.onTabMenuAction('delete')"><i class="fas fa-trash"></i><span class="popup-menu-item-text">Delete</span></a>
  <a class="popup-menu-item" ng-click="view.onTabMenuAction('duplicate')"><i class="fas fa-clone"></i><span class="popup-menu-item-text">Duplicate</span></a>
</div>

<div zn-popup name="ws-menu" class="popup-menu-items ws-menu">
  <a class="popup-menu-item" ng-click="view.onWSMenuAction('edit')"><i class="fas fa-pencil-alt"></i><span class="popup-menu-item-text">Edit Workspace</span></a>
  <a class="popup-menu-item" ng-click="view.onWSMenuAction('delete')"><i class="fas fa-trash"></i><span class="popup-menu-item-text">Delete Workspace</span></a>
  <a class="popup-menu-item" ng-click="view.onWSMenuAction('add-set')"><i class="fas fa-folder-plus"></i><span class="popup-menu-item-text">Add Set</span></a>
  <a class="popup-menu-item" ng-click="view.onWSMenuAction('add-wsdl')"><i class="fas fa-folder-plus"></i><span class="popup-menu-item-text">Add WSDL</span></a>
</div>

<div zn-popup name="app-menu" class="popup-menu-items app-menu" source=".app-action" showat="bottom">
  <a class="popup-menu-item" ng-click="view.onAppMenuAction('new-ws', $event)"><i class="fas fa-plus-circle"></i><span class="popup-menu-item-text">New Workspace</span></a>
  <a class="popup-menu-item" ng-click="view.onAppMenuAction('switch-ws', $event)"><i class="fas fa-random"></i><span class="popup-menu-item-text">Switch Workspace</span></a>
  <a class="popup-menu-item" ng-click="view.onAppMenuAction('import-ws', $event)"><i class="fas fa-arrow-circle-down"></i><span class="popup-menu-item-text">Import Workspace</span></a>
  <a class="popup-menu-item" ng-click="view.onAppMenuAction('export-ws', $event)"><i class="fas fa-arrow-circle-up"></i><span class="popup-menu-item-text">Export Workspace</span></a>
  <div class="popup-menu-item-divider">&nbsp;</div>
  <a class="popup-menu-item" ng-click="view.onAppMenuAction('show-config', $event)"><i class="fas fa-cogs"></i><span class="popup-menu-item-text">Configuration</span></a>
  <a class="popup-menu-item" ng-click="view.onAppMenuAction('agent-download', $event)"><i class="fas fa-cloud-download-alt"></i><span class="popup-menu-item-text">Agent Download</span></a>
</div>


